body {
    position: relative;
    margin: 0px;
    /* font-size: 20px; */
}
#name{
    color: orange;
    font-family: 'Fugaz One', cursive;
    font-size: 30px;

}
@import url('https://fonts.googleapis.com/css?family=Creepster|Fugaz+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@media screen and (min-width: 480px) {

    #leftsidebar {width: 100px; float: left;}
   
}


body header ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    background-color:black;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    z-index: 5;
    position: fixed; 
    top: 0px;
    width: 100%;
}

body header ul  li {
    float: left;
}

body header ul  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body header ul  li a:hover {
    cursor: pointer;
    text-decoration: none;
    /* color: #39dc79; */
    color: blueviolet;
}

footer a{
    color: white;
}
#foot{
    list-style-type: none;
    overflow: hidden;
 /* margin-top:0px; */
/* display: block; */
height: 150px;
width: 100%; 
background-color:#262028; 
color: white;
/* text-decoration: none; */ 
} 
#li{
    display: block;
    position: absolute;
    margin-top: 20px;
    padding-top: 20px;
    margin-left: 850px;
    font-size: 20px;
    text-align: center;
    color: white;
}



footer div div a{
list-style-type: none;
text-decoration: none;
font-family: 'Roboto', sans-serif;
/* color: blue; */
}

footer div div a :hover{
    text-decoration: none;
    color: #39dc79;
}

/* ////////////////////////////////////////////////////////////////// */



.backImg{
    /* position:absolute; */
    margin-left: 0px;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    top: 0;
   
}

#main{
    /* background-color: blue; */
    width: 100%;
    height:1000px;
    /* padding-top: 700px; */
    margin-top:0px;
}

.outImg{
      
    padding-top: 0px;
    padding-left: 100px; 
    width: 700px;
    height:550px;
    z-index: -1;
} 

#description{
 padding-left:100px;
 text-align: justify;
 font-size: 18px;
}

/* /////////////////////////////////////// */
/* Style the topbar */
 /* .topbar { */
    /* display: inline; */
    /* border: 1px solid #ccc;
    background-color: #f1f1f1;
    overflow: hidden;
    width: 30%;
    height: 30px;
}  */

/* Style the buttons inside the topbar */
 /* .topbar button {
    
    background-color: inherit;
    
    float: left;
    color: black;
    padding: 22px 16px;
    width: 10%; */
    /* height: 30px;; */
    /* border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    
    font-size: 17px;
}  */

/* Change background color of buttons on hover */
/* .topbar button:hover {
    background-color: #ddd;
} */

/* Create an active/current "topbar button" class */
/* .topbar button.active {
    background-color: #ccc;
} */

/* Style the topbar panel */
/* .topbarpanel { */

    /* float: left; */
    /* padding: 0px 12px; */
    /* display:none
    ;
    margin-top: 0px;
    border: 1px solid #ccc;
    width: 100%;
    border-left: none;
    background-color: red;
    height: 450px;
    
} */
/* 
.topbar {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
} */

/* Style the buttons inside the topbar */
/* .topbar button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
} */

/* Change background color of buttons on hover */
/* .topbar button:hover {
    background-color: #ddd;
} */

/* Create an active/current topbarbtnnk class */
/* .topbar button.active {
    background-color: #ccc;
} */

/* Style the topbar panel */
/* .topbarpanel {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
} */

.optionCombo{
    position: absolute;
    top: 30%;
    margin-left: 100px;
    height: 50px;
    font-size: 16px;
    width: 80%;
   }


   /* ///////////////////////////////////////////////////////////////////////////// */

 
   .topbar {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


.topbar button {
    
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


.topbar button:hover {
    background-color: #ddd;
}

/* Create an active/current topbarlink class */
.topbar button.active {
    background-color: #ccc;
}

/* Style the topbar panel */
.topbarpanel {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    height: 300px;;
    border-top: none;
}